* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

@font-face { 
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: 'CraftworkGrotesk';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/CraftworkGrotesk-SemiBold.woff2");
}    

@font-face {
  font-family: 'CraftworkGrotesk';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/CraftworkGrotesk-Heavy.woff2");
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style:  normal;
  background-color: white;
  font-size: 24px;
  line-height: 32px;
  color: black;
  overflow: hidden auto;
}
.no-scroll {
  overflow: hidden;
}

@supports (backdrop-filter: invert(100%)) or (-webkit-backdrop-filter: invert(100%)) {
  html {
    cursor: none;
  }
}

body {
  overflow: hidden;
}

header {
  font-family: 'CraftworkGrotesk';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 900;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0 0 20px;
  font-size: 32px;
  line-height: 44px;
}

header .logo {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.logo__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.logo__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  padding: 0 48px 0 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);;
}

header .link {
  margin-right: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
}

#mouse-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: -100px;
  top: -100px;
  -webkit-backdrop-filter: invert(100%);
  backdrop-filter: invert(100%);
  position: absolute;
  transform: translate(-35px, -35px);
  pointer-events: none;
  font-size: 50px;
  line-height: 66px;
  text-align: center;

}

@media (hover: none) {
  #mouse-circle {
    display: none;
  }
}

.contact-link-block {
  width: 1200px;
  margin: 24px auto;
  background: #000000;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.25);
}

.contact-link {
  font-family: 'CraftworkGrotesk';
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  padding: 24px 0;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.contact-link:after {
  content: "";
  position: absolute;
  background: url("../assets/icons/link.svg") no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 0.3em;
  margin-top: 0.4em;
  width: 0.7em;
  height: 0.7em;
}

.copyright {
  font-family: Inter;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

summary {display: block;}
::-webkit-details-marker {display: none;}

#mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  z-index: 50;
  transition: right 0.4s ease-in-out;
  background-color: black;
}

#mobile-menu.visible {
  right: 0;
}

.link-block {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-top: 30px;
}
.mobile-link {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  padding: 16px 0;
  color: white;
  text-decoration: none;
}
.mobile-link:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#mobile-menu .contact-link {
  opacity: 0.5;
  position: relative;
}
#mobile-menu .contact-link:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}


@media screen and (max-width: 1400px) {
  .contact-link-block {
    width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: calc(100% - 36px);
    margin: 16px auto 0;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 17px;
    background-color: black;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    z-index: 51;
  }

  header .logo {
    color: white;
    z-index: 100;
  }
  .logo__img {
    width: 40px;
    height: 40px;
  }
  .logo__name {
    font-size: 15px;
    line-height: 17px;
    margin-left: 12px;
    padding: 0;
  }

  header .link {
   display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 27px;
    right: 32px;
    width: 26px;
    height:  26px;
    cursor: pointer;
    background-image: url('../assets/icons/burger.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #mobile-menu .menu__btn {
    background-image: url('../assets/icons/add.svg');
    transform: rotate(45deg);
  }

  .contact-link:after {
    margin-top: 0.25em;
  }

  .contact-link-block{
    display: none;
  }
  
}