* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

@font-face { 
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: 'CraftworkGrotesk';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/CraftworkGrotesk-SemiBold.woff2");
}    

@font-face {
  font-family: 'CraftworkGrotesk';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/CraftworkGrotesk-Heavy.woff2");
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style:  normal;
  background-color: white;
  font-size: 24px;
  line-height: 32px;
  color: black;
  overflow: hidden auto;
}

@supports (backdrop-filter: invert(100%)) or (-webkit-backdrop-filter: invert(100%)) {
  html {
    cursor: none;
  }
}

body {
  overflow: hidden;
}

header {
  font-family: 'CraftworkGrotesk';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 900;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0 0 20px;
  font-size: 32px;
  line-height: 44px;
}

header .logo {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.logo__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.logo__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  padding: 0 48px 0 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);;
}

header .link {
  margin-right: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
}

#mouse-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: -100px;
  top: -100px;
  -webkit-backdrop-filter: invert(100%);
  backdrop-filter: invert(100%);
  position: absolute;
  transform: translate(-35px, -35px);
  pointer-events: none;
}

.contact-link-block {
  width: 1200px;
  margin: 24px auto;
  background: #000000;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.25);
}

.contact-link {
  font-family: 'CraftworkGrotesk';
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  padding: 24px 0;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.contact-link:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  display: block;
  background: url("../assets/icons/link.svg") no-repeat bottom right;
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin: auto 0 auto 0;
  padding: 4px 0 0 8px;
}

summary {display: block;}
::-webkit-details-marker {display: none;}


@media screen and (max-width: 1400px) {
  .contact-link-block {
    width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: calc(100% - 36px);
    margin: 16px auto 0;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 17px;
    background-color: black;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  header .logo {
    color: white;
    width: 100%;
  }
  .logo__img {
    width: 40px;
    height: 40px;
  }
  .logo__name {
    font-size: 15px;
    line-height: 17px;
    margin-left: 12px;
  }

  header .link {
   display: none;
  }

  .contact-link-block{
    display: none;
  }
  
}