html {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  padding: 0 30px;
}

main {
  height: calc(100% - 248px);
  display: flex;
  align-items: center;
}

.left-info {
  max-width: 50vw;
}

#header1 {
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 60px;
  padding-bottom: 40px;
}

#subheader1 {
  font-size: 40px;
  font-weight: 500;
}

.right-info {
  padding: 0 10px;
  flex-grow: 2;
}
.avatar{
  width: 400px;
  height: 400px;
  transform: rotate(7deg);
  position: relative;
}
.avatar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translate(20px, 60px);
  border-radius: 20px;
  z-index: -1;
}

.right-info img {
  width: 100%;
  border-radius: 20px;
}