.main {
  width: 100%;
}

main {
  padding-bottom: 264px;
  max-width: 1200px;
  margin: 0 auto;
}

.main__title {
  position: relative;
  display: inline-block;
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  padding: 100px 0 80px;
}
.main__title:before {
  content: '';
  position: absolute;
  top: 15px;
  right: -120px;
  width: 120px;
  height: 120px;
  background-image: url('../assets/icons/star1.svg');
  background-position: center;
  background-size: contain;
}
.main__title:after {
  content: '';
  position: absolute;
  margin-left: 0.25em;
  width: 1em;
  height: 1em;
  background-image: url('../assets/images/globe.png');
  background-position: center;
  background-size: contain;
}

.main__block {
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.main__info {
  position: relative;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  padding-right: 40px;
}
.main__info:after {
  content: '';
  position: absolute;
  bottom: -220px;
  right: 50px;
  width: 220px;
  height: 220px;
  background-image: url('../assets/icons/star2.svg');
  background-position: center;
  background-size: contain;
}

.main__img {
  padding: 0 10px;
  flex-grow: 2;
}
.avatar{
  width: 450px;
  height: 450px;
  padding: 45px;
  position: relative;
  border: 2px solid black;
  border-radius: 32px;
  z-index: 0;
}

.avatar img {
  transform: rotate(5deg);
  position: relative;
  width: 100%;
  border-radius: 32px;
}
.avatar:before {
  content: '';
  position: absolute;
  top: 45px;
  left: 45px;
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  background-color: black;
  border: 20px solid white;
  transform: translate(70px, 135px) rotate(14deg);
  border-radius: 50px;
  z-index: -1;
}


section {
  margin-top: -64px;
  padding: 160px 30px 144px;
  background-color: #DFE1E4;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 48px;
  line-height: 80px;
  padding-bottom: 16px;
}

.section__info {
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 70px;
  text-align: center;
}

.section__img {
  padding-bottom: 80px;
  margin-left: -64px;
  display: flex;
  flex-direction: row-reverse;
}
.section__img img {
  width: 160px;
  height: 160px;
  margin-right: -64px;
}

.section__img-love {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  height: 580px;
  width: 1200px;
}
.section__img-love--mobile{
  display: none;
}
.section__img-love img {
  width: 220px;
  border-radius: 32px;
  margin-right: 25px;
  object-fit: cover;
  flex-shrink: 0;
}
.section__img__big{
  height: 580px;
}
.section__img__medium{
  height: 335px;
}
.section__img__small{
  height: 220px;
}

.section__button {
  width: 720px;
  padding: 24px 0;
  text-align: center;
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;

  border: 2px solid black;
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
}

.section--love {
  background-color: #9FA3A7;
}

.section--love .section__button {
  margin-bottom: 120px;
}


@media screen and (max-width: 1400px) {
  main {
    max-width: 1100px;
  }
  .section__inner {
    max-width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 680px;
  }
  .main__title {
    font-size: 40px;
    line-height: 42px;
    padding: 40px 16px;
  }
  .avatar{
    width: 280px;
    height: 280px;
    padding: 25px;
    border-radius: 24px;
  }
  .avatar img {
    border-radius: 20px;
  }
  .avatar:before {
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    transform: translate(50px, 90px) rotate(14deg);
    border-radius: 40px;
  }

  .main__info {
    font-size: 18px;
    line-height: 26px;
  }
  .main__info:after {
    bottom: -170px;
    right: 50px;
    width: 150px;
    height: 150px;
  }

  section {
    margin-top: -64px;
    padding: 48px 16px 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  

  .section__inner {
    max-width: 520px;
  }

  .section__title {
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 12px;
  }
  
  .section__info {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 40px;
  }

  .section__img {
    padding-bottom: 35px;
    margin-left: -32px;
    filter: drop-shadow(0px 12px 44px rgba(0, 0, 0, 0.24));
  }
  .section__img-love {
    display: none;

  }
  .section__img-love--mobile {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 130px;
    position: relative;
  }
  .section__img-love--mobile img {
    width: 220px;
    height: 220px;
    border-radius: 32px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  .section__img-love--mobile img:nth-child(1) {
    transform: translate(-15px, 19px) rotate(-4deg);
  }
  .section__img-love--mobile img:nth-child(2) {
    transform: rotate(2deg);
  }
  .section__img-love--mobile img:nth-child(3) {
    transform: translate(20px, 22px) rotate(-7deg);
  }
  .section__img-love--mobile:after {
    content: '';
    position: absolute;
    bottom: -110px;
    left: 220px;
    width: 130px;
    height: 130px;
    background-image: url('../assets/icons/star3.svg');
    background-position: center;
    background-size: contain;
  }

  .section__img img {
    width: 80px;
    height: 80px;
    margin-right: -32px;
  }

  .section__button {
    width: 345px;
    padding: 4px 20px;
    font-size: 18px;
    line-height: 44px;
    border-radius: 12px;
  }

  .section--love .section__button {
    margin-bottom: 48px;
  }

}

@media screen and (max-width: 720px) {

  main {
    padding: 0 16px;
  }

  .main__title{
    padding: 40px 0 16px;
  }
  .main__title:before {
    top: 15px;
    right: -90px;
  }

  .main__block {
    flex-direction: column;
    margin-bottom: 260px;
  }

  .main__info {
    padding: 0 0 24px;
  }
  .main__info:after {
    bottom: -530px;
    left: 50px;
    right: auto;
  }

  .avatar{
    width: 340px;
    height: 340px;
  }
  .avatar:before {
    transform: translate(30px, 60px) rotate(14deg);
  }


  section {
    margin-top: -40px;
    padding: 48px 16px 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .section__img-love--mobile {
    flex-direction: column;
    margin-bottom: -130px;
  }
  .section__img-love--mobile:after {
    top: 20px;
    left: -100px;
  }
  .section__img-love--mobile img:nth-child(1) {
    transform: translate(35px, 0px) rotate(2deg);
  }
  .section__img-love--mobile img:nth-child(2) {
    transform: translate(-45px, -50px) rotate(-7deg);
    z-index: 2;
  }
  .section__img-love--mobile img:nth-child(3) {
    transform: translate(40px, -200px) rotate(-4deg);
  }
  

  .section__button {
    max-width: calc(100vw - 32px);
  }

}


@media screen and (max-width: 580px) {
  .main__title{
    width: 325px;
  }
  .main__title:before {
    top: 15px;
    right: -70px;
  }
}

@media screen and (max-width: 370px) {
  .main__info:after {
    width: 120px;
    height: 120px;
    bottom: -470px;
    left: 30px;
  }
  .avatar{
    width: 280px;
    height: 280px;
  }
  .avatar:before {
    transform: translate(50px, 90px) rotate(14deg);
  }
}