html {
  background-color: #DFE1E4;
}

.main {
  width: 100%;
}

.section-header {
  padding: 100px 0 48px;
}
.section-header .header {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  padding-bottom: 48px;
}
.section-header .subheader {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}

.work__content {
   padding: 64px 0 30px;
   border-radius: 64px;
   position: relative;
}
.work__content::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 1200px;
  height: 2px;
  background-color: #000;
}
.work__content:hover {
  background: #000;
  color: #fff;
}
.work__summary, .work__additional {
  max-width: 1200px;
  margin: 0 auto;
}

.work__header {
  font-family: 'CraftworkGrotesk';
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  padding-bottom: 8px;
}

.work__time {
  padding-bottom: 13px;
  color: rgba(0, 0, 0, 0.7);
}
.work__content:hover .work__time {
  color: rgba(255, 255, 255, 0.7);
}

.work__description {
  padding-bottom: 28px;
}

.work__link {
  display: inline-block;
  padding: 10px 52px 10px 24px;
  background: #000;
  color: #fff;
  border-radius: 54px;
  position: relative;
}
.work__content:hover .work__link {
  background: #fff;
  color: #000;
}

.work__link:after {
  content: "";
  position: absolute;
  right: 24px;
  top: 0;
  bottom: 0;
  display: block;
  background: url("../assets/icons/link.svg") no-repeat bottom right;
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin: auto 0 auto 0;
  padding-top: 4px;
}

.work__content:hover .work__link:after {
  filter: invert(1);
}